<header class="main-header">
  <div class="topbar">
      <div class="container">
          <div class="topbar__right">
              <a href="#"><i class="pylon-icon-email1"></i>societegmi@gmail.com</a>
              <a href="#"><i class="pylon-icon-clock2"></i>Mon - Sat 8:00 AM - 5:00 PM</a>
          </div><!-- /.topbar__right -->
      </div><!-- /.container -->
  </div><!-- /.topbar -->
  <nav class="main-menu">
      <div class="container">
          <div class="logo-box">
              <a routerLink="/" aria-label="logo image"><img src="/assets/nano/webdevcode.com/html/pylon1/assets/images/logo-dark.png" width="155" alt=""></a>
              <span class="fa fa-bars mobile-nav__toggler"></span>
          </div><!-- /.logo-box -->
          <ul class="main-menu__list">
              <li class="dropdown">
                  <a routerLink="/">Home</a>
              </li>
              <li class="dropdown">
                  <a routerLink="/about">About Us</a>
              </li>
              <li class="dropdown"><a routerLink="/services">Services</a>
              </li>
              <li class="dropdown"><a routerLink="/chaudieres">Chaudieres</a> 
              </li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
             
          </ul>
          <!-- /.main-menu__list -->

          <div class="main-header__info">
              <div class="main-header__info-phone">
                  <i class="pylon-icon-tech-support"></i>
                  <div class="main-header__info-phone-content">
                      <span>Call Anytime</span>
                      <h3><a href="tel:+50 263 806">+216 50 263 806</a></h3>
                  </div><!-- /.main-header__info-phone-content -->
              </div><!-- /.main-header__info-phone -->
          </div><!-- /.main-header__info -->
      </div><!-- /.container -->
  </nav>
  <!-- /.main-menu -->
</header><!-- /.main-header -->

<div class="stricky-header stricked-menu main-menu">
  <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div>