<footer class="site-footer">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-3 col-sm-6">
              <div class="footer-widget footer-widget__about">
                  <a href="index.html">
                      <img src="/assets/nano/webdevcode.com/html/pylon1/assets/images/logo-light.png" width="200" alt="">
                  </a>
                  <p>Welcome to Générale Maintenance Industrielle company we provide maintenance services at very reasonably prices.</p>
                  <div class="footer-widget__about-phone">
                      <i class="pylon-icon-tech-support"></i>
                      <div class="footer-widget__about-phone-content">
                          <span>Call Anytime</span>
                          <h3><a href="tel:+216 50 263 806">+216 50 263 806</a></h3>
                      </div><!-- /.footer-widget__about-phone-content -->
                  </div><!-- /.footer-widget__about-phone -->
              </div><!-- /.footer-widget footer-widget__about -->
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-widget__link">
                  <h3 class="footer-widget__title">Explore</h3>
                  <ul class="list-unstyled footer-widget__link-list">
                      <li><a ><i class="fa fa-arrow-right"></i>About</a></li>
                      <li><a routerLink="/services"><i class="fa fa-arrow-right"></i>Our Services</a></li>
                      <li><a routerLink="/chaudieres"><i class="fa fa-arrow-right"></i>Our Chaudieres</a></li>
                      <li><a ><i class="fa fa-arrow-right"></i>Testimonials</a></li>
                      <li><a ><i class="fa fa-arrow-right"></i>Contact</a></li>
                      <li><a ><i class="fa fa-arrow-right"></i>Loan Calculator</a></li>
                  </ul><!-- /.list-unstyled -->
              </div><!-- /.footer-widget -->
          </div><!-- /.col-lg-2 -->
          <div class="col-lg-3 col-sm-6">
              <div class="footer-widget footer-widget__post">
                  <h3 class="footer-widget__title">Latest News</h3>
                  <ul class="list-unstyled footer-widget__post-list">
                      <li>
                          <img src="/assets/nano/webdevcode.com/html/pylon1/assets/images/resources/footer-post-1-1.png" alt="" width="71" height="69">
                          <div class="footer-widget__post-list-content">
                              <span>Juin 16, 2024</span>
                              <h3><a>We Provide the Quality Services</a></h3>
                          </div><!-- /.footer-widget__post-content -->
                      </li>
                      <li>
                          <img src="/assets/nano/webdevcode.com/html/pylon1/assets/images/resources/footer-post-1-2.png" alt="" width="71" height="69">
                          <div class="footer-widget__post-list-content">
                              <span>Juin 16, 2024</span>
                              <h3><a>We Provide the Quality Services</a></h3>
                          </div><!-- /.footer-widget__post-content -->
                      </li>
                  </ul><!-- /.list-unstyled -->
              </div><!-- /.footer-widget -->
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-4 col-sm-6">
              <div class="footer-widget footer-widget__contact">
                  <h3>Contact</h3>
                  <ul class="list-unstyled footer-widget__contact-list">
                      <li>
                          <a href="mailto:societegmi@gmail.com"><i class="pylon-icon-email1"></i> societegmi@gmail.com</a>
                      </li>
                      <li>
                          <a href="#"><i class="pylon-icon-clock2"></i>Mon - Sat 8:00 AM - 6:00 PM</a>
                      </li>
                      <li>
                          <a href="#"><i class="pylon-icon-pin1"></i>Tanneur Street,Sidi Salah, Tunisia</a>
                      </li>
                  </ul>
              </div> <!-- /.footer-widget footer-widget__contact -->
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.site-footer -->
<div class="bottom-footer">
  <div class="container">
      <p>© Copyright 2024 by Tayechi.Inc</p>
  </div><!-- /.container -->
</div>