 /* Small icon at the top left corner */
 .service-icon-small {
    width: 24px; /* Adjust the size as needed */
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none; /* Prevent the icon from being interactive */
  }
  
  /* Background icon at the bottom right corner */
  .service-icon-background {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.1; /* Adjust opacity for faded effect */
    filter: grayscale(100%); /* Make the icon grey */
    pointer-events: none; /* Prevent the icon from being interactive */
  }
  
  /* Adjust the service-second container to relative position */
  .service-second {
    position: relative;
  }
  
  .service-second-info-icon h3 {
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .custom-padding {
    padding-bottom: 1px !important;
}

.client-carousel {
  padding-top: 60px; /* Reduce top padding */
  padding-bottom: 60px; /* Reduce bottom padding */
}


.service-one__home-two {
  padding-bottom: 60px; /* Adjust this value as needed for more space */
}

.client-carousel.custom {
  padding-top: 60px; /* Reduce top padding */
    padding-bottom: 60px; /* Reduce bottom padding */
  }
  
  .thm-swiper__slider.custom {
    height: 100px; /* Set the height to match the logo size */
  }
  
  .thm-swiper__slider .swiper-slide.custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .thm-swiper__slider .swiper-slide img.custom {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .service-one__home-two.custom {
    padding-bottom: 60px; /* Adjust this value as needed for more space */
  }
  