

<div class="stricky-header stricked-menu main-menu main-menu__two">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
  </div><!-- /.stricky-header -->

  <section class="trusted-company">
    <div class="trusted-company__bg" style="background-image: url(/assets/nano/webdevcode.com/html/pylon1/assets/images/shapes/trust-bg-1-1.png);"></div>
    <div class="trusted-company__content">
        <div class="block-title text-left">
            <p>Home / About Us</p>
            <h2>About Us</h2>
        </div><!-- /.block-title -->
    </div>
</section>

<section class="team-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="/assets/nano/webdevcode.com/html/pylon1/assets/images/team/team-1-3.png" class="img-fluid team-details__img" alt="Jalel Tayechi">
                <div class="pylon-team-pic-box">   
                    <h3>Jalel Tayechi</h3>
                    <div class="pylon_member_designation">Maintenance Manager</div>
                    <div class="pylon-team-details">
                        <div class="team-details__social">
                            <a href="https://www.facebook.com/profile.php?id=100010011870657" class="fab fa-facebook-square"></a>
                           
                        </div>
                        <ul class="team-details__info list-unstyled">
                            <li>
                                <span>Phone:</span>
                                <p>+216 50 263 806</p>
                            </li>
                            <li>
                                <span>Email:</span>
                                <p>jalel.tayechi@gmail.com</p>
                            </li>
                        </ul>
                    </div><!-- /.pylon-team-details -->
                </div>
            </div><!-- /.col-lg-5 -->
            <div class="col-lg-7">
                <div class="team-details__content">
                    <h3 class="team-details__title">Jalel Tayechi</h3><!-- /.team-details__title -->
                    <span class="team-details__designation">Maintenance Manager</span><!-- /.team-details__designation -->
                    <hr>
                    <p class="team-details__text">Jalel Tayechi is the Maintenance Manager at our Industrial Maintenance Company, overseeing all aspects of maintenance operations. With over 15 years of experience in the industry, Jalel  specializes in predictive maintenance, equipment repair, and operational efficiency.</p><!-- /.team-details__text -->
                    <p class="team-details__text">Jalel 's expertise includes a deep understanding of machinery, troubleshooting, and implementing maintenance strategies that minimize downtime and enhance productivity. He leads a dedicated team of technicians and engineers, ensuring that all maintenance projects are completed on time and to the highest standards.</p><!-- /.team-details__text -->
                </div><!-- /.team-details__content -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
        
       
    </div><!-- /.container -->
</section><!-- /.team-details -->


<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/jquery.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/swiper.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/jquery.validate.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/bootstrap-select.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/wow.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/odometer.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/jquery.appear.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/jarallax.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/circle-progress.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/wNumb.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/nouislider.min.js"></script>
<script src="/assets/nano/webdevcode.com/html/pylon1/assets/js/theme.js"></script>